.yes{
    text-align: center;
    margin: auto;
}
h6{
    text-align: center;
}
.para{
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
}
.oui{
    text-align: center;
    
}
.beed{
    text-align: center;
    
}


